NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_WS_PATH=/api/v1/ws
NEXT_PUBLIC_WS_ORIGIN=http://localhost:4000
NEXT_PUBLIC_QR_ORIGIN=https://api.qrserver.com
NEXT_PUBLIC_AUTH_OAUTH=true
NEXT_PUBLIC_AUTH_SIMPLE_SIGNIN=true
NEXT_PUBLIC_AUTH_DOMAIN_SIGNIN=false
NEXT_PUBLIC_AUTH_PRIMARY=simple_signin
NEXT_PUBLIC_LOCALE_DEFAULT=en-US
