html {
  scroll-behavior: smooth;
  background-image: url('../../images/background.min.jpg');
  background-size: cover;
}

#messagesx {
  margin-top: 5px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

#close {
  background-color: #ffd0d0;
  transition: background-color 0.5s linear, color 0.3s linear;
  cursor: pointer;
}

#close:hover {
  background-color: #ec4545;
  color: white;
}

#close:active {
  background-color: #a71a1a;
  color: white;
}

.modal-background {
  transition: background-color 1s linear;
}

.device-wrapper {
  opacity: 0;
}

.screen > div {
  opacity: 0;
}

.screen {
  background-color: white;
}

.device {
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.device-wrapper {
  margin: auto;
}

.status {
  position: relative;
  background-color: whitesmoke;
  border-bottom: 1px solid #ecf0f1;
  top: -1px;
  cursor: default;
}

.status .contents {
  margin-left: 20px;
}

.status .disconnected {
  color: red;
}

.status .connecting {
  color: orange;
}

.status .connected {
  color: green;
}

.status .initial {
  color: orange;
}

.status .slow.blink {
  animation: blinker 3s linear infinite;
}

.status .normal.blink {
  animation: blinker 2s linear infinite;
}

.status .fast.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  35% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }
}

.chat {
  top: 50px !important;
  bottom: 32px !important;
}

.messagex p .origin {
  font-style: oblique;
  font-size: small;
  padding-bottom: 3px;
}

.titlex {
  text-align: center;
  font: 400 15px 'Open Sans', sans-serif;
  padding: 5px;
  border-bottom: 1px solid #ecf0f1;
}

.origin {
  font-size: small;
  padding-bottom: 6px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
