form.chat * {
  transition: all .5s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form.chat {
  margin: 0;
  cursor: default;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

form.chat span.spinner {
  -moz-animation: loading-bar 1s 1;
  -webkit-animation: loading-bar 1s 1;
  animation: loading-bar 1s 1;
  display: block;
  height: 2px;
  background-color: #00e34d;
  transition: width 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4
}

form.chat .messagesx {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2% 3%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

form.chat ::-webkit-scrollbar {
  width: 10px;
  height: 1px;
  transition: all .5s;
  z-index: 10;
}

form.chat ::-webkit-scrollbar-track {
  background-color: rgba(10, 4, 18, 0.4);
}

form.chat ::-webkit-scrollbar-thumb {
  background-color: rgba(178, 137, 255, 0.6);
  border-radius: 3px;
}

form.chat .messagex {
  display: block;
  width: 98%;
  padding: 0.5%;
}

form.chat .messagex p {
  margin: 0;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 50%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

form.chat .myMessage,
.fromThem {
  position: relative;
  padding: 10px 20px;
  color: #f7f2ff;
  border-radius: 16px;
  clear: both;
  font: 400 15px 'Manrope', sans-serif;
}

form.chat .myMessage {
  background: linear-gradient(135deg, rgba(125, 44, 255, 0.8), rgba(178, 137, 255, 0.5));
  color: #140724;
  float: right;
  clear: both;
  border-bottom-right-radius: 20px 0px\9;
}

form.chat .fromThem {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #f7f2ff;
  float: left;
  clear: both;
  border-bottom-left-radius: 30px 0px\9;
}

form.chat date {
  position: absolute;
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
  opacity: 0;
  z-index: 4;
}

form.chat .myMessage date {
  left: 105%;
}

form.chat .fromThem date {
  right: 105%;
}

form.chat input {
  font: 400 13px 'Open Sans', sans-serif;
  border: 0;
  padding: 0 15px;
  height: 10%;
  outline: 0;
}

form.chat input[type='text'] {
  width: 73%;
  float: left;
}


form.chat .myMessage,
form.chat .fromThem {
  font-size: 16px;
}

form.chat .myMessage date,
form.chat .fromThem date {
  top: -20px;
  left: auto;
  right: 0;
  font-size: 12px;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 100%;
}

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
  }

  90% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
  }

  90% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }

  90% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

.border {
  position: absolute;
  top: 12.3%;
  right: 7%;
  left: 7%;
  bottom: 12%;
  overflow: hidden;
}
